*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
background-size: cover;
background-attachment: fixed;
height: 100vh;
}
.container, .help{
    width: 45%;
    min-width: 350px;
    margin: 2rem auto;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.5rem;
    background-color: coral;
    border-radius: 20px;
    box-shadow: 2px 4px 5px rgb(117, 76, 0);
    outline: 10px  groove goldenrod;
    outline-offset: -11px;
    overflow: auto;
}

.container::-webkit-scrollbar {
    display: none;
}
.help{
    height: 22rem;
}
.todo-list, #add, .erase, #add-button, h1, h4{
    margin-bottom: 1rem;
    padding: 1rem;
}
input{
    width: 80%;
    font-size: 1.5rem;
}
button{
    font-size: 1.5rem;
}
ul{
    width: 96%;
}
.flex{
    display: flex;
    justify-content: center;
}

.fa-pen{
    padding: 1rem 0;
    visibility: visible;
}
@media (max-width: 1024px){
    body{
        flex-direction: column;
        height: auto;
    }
}